@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%; /* Abu-abu terang untuk background */
    --foreground: 0 0% 10%; /* Hitam untuk teks */

    --card: 0 0% 95%; /* Abu-abu terang untuk card */
    --card-foreground: 0 0% 10%; /* Hitam untuk teks dalam card */

    --popover: 0 0% 95%; /* Abu-abu terang untuk popover */
    --popover-foreground: 0 0% 10%; /* Hitam untuk teks dalam popover */

    --primary: 142.1 70.6% 45.3%; /* Hijau untuk primary */
    --primary-foreground: 0 0% 100%; /* Putih untuk teks pada elemen hijau */

    --secondary: 240 4.8% 90%; /* Abu-abu terang untuk secondary */
    --secondary-foreground: 0 0% 10%; /* Hitam untuk teks pada secondary */

    --muted: 240 4.8% 90%; /* Abu-abu terang untuk muted */
    --muted-foreground: 240 5% 40%; /* Abu-abu lebih gelap untuk teks muted */

    --accent: 240 4.8% 90%; /* Abu-abu terang untuk accent */
    --accent-foreground: 0 0% 10%; /* Hitam untuk teks pada accent */

    --destructive: 0 84.2% 60.2%; /* Merah untuk destructive */
    --destructive-foreground: 0 0% 100%; /* Putih untuk teks pada destructive */

    --border: 240 5.9% 80%; /* Abu-abu terang untuk border */
    --input: 240 5.9% 80%; /* Abu-abu terang untuk input */
    --ring: 240 10% 3.9%; /* Warna abu-abu gelap untuk ring */

    --radius: 0.5rem;
  }

  :root {
    --background: 0 0% 95%; /* Abu-abu terang untuk background */
    --foreground: 0 0% 10%; /* Hitam untuk teks */

    --card: 0 0% 95%; /* Abu-abu terang untuk card */
    --card-foreground: 0 0% 10%; /* Hitam untuk teks dalam card */

    --popover: 0 0% 95%; /* Abu-abu terang untuk popover */
    --popover-foreground: 0 0% 10%; /* Hitam untuk teks dalam popover */

    --primary: 142.1 70.6% 45.3%; /* Hijau untuk primary */
    --primary-foreground: 0 0% 100%; /* Putih untuk teks pada elemen hijau */

    --secondary: 240 3.7% 90%; /* Abu-abu terang untuk secondary */
    --secondary-foreground: 0 0% 10%; /* Hitam untuk teks pada secondary */

    --muted: 240 3.7% 90%; /* Abu-abu terang untuk muted */
    --muted-foreground: 240 3% 40%; /* Abu-abu lebih gelap untuk teks muted */

    --accent: 240 3.7% 90%; /* Abu-abu terang untuk accent */
    --accent-foreground: 0 0% 10%; /* Hitam untuk teks pada accent */

    --destructive: 0 62.8% 50.6%; /* Merah untuk destructive */
    --destructive-foreground: 0 0% 100%; /* Putih untuk teks pada destructive */

    --border: 240 3.7% 80%; /* Abu-abu terang untuk border */
    --input: 240 3.7% 80%; /* Abu-abu terang untuk input */
    --ring: 240 4.9% 80%; /* Warna abu-abu terang untuk ring */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
